<div class="statistics">
    <div>
        <div class="num">{{ statistics.visits }}</div>
        <div class="title">被访问量</div>
    </div>
    <div>
        <div class="num">{{ statistics.articles }}</div>
        <div class="title">文章数量</div>
    </div>
    <div>
        <div class="num">{{ statistics.views }}</div>
        <div class="title">总浏览量</div>
    </div>
    <div>
        <div class="num">{{ statistics.likes }}</div>
        <div class="title">点赞量</div>
    </div>
    <div>
        <div class="num">{{ statistics.fans }}</div>
        <div class="title">粉丝数</div>
    </div>
</div>
<style>
    .statistics {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        width: 1028px;
        height: 199px;
        margin: 12px 10px;

        .num {
            font-size: 36px;
            font-weight: bold;
        }

        .title {
            color: rgb(159, 159, 159);
            font-size: 26px;
        }
    }
</style>
